<footer style="
  background: {{ site.data.settings.brand.dark }};
  color: {{ site.data.settings.brand.surface1 }};
  padding: 0.5rem 1rem;
  margin-top: 1rem;
">
  <div style="
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
  ">
    <p>{{ key }}</p>
    {% for item in site.data.settings.social %}
    {% assign key = item[0] %}
    {% assign url = item[1] %}

  <a href="{{ url }}"
     aria-label="{{ key }}"
     {% unless key == "email" %}target="_blank" rel="noopener"{% endunless %}
     style="display:flex; align-items:center;">
     
    <img
      src="{{ '/assets/footer/' | append: key | append: '.svg' | relative_url }}"
      alt="{{ key }}"
      style="width:18px;height:18px; pointer-events:auto;"
    />
  </a>
{% endfor %}

    <p style="margin:0; font-size:0.875rem; line-height:1.2;">
      © 2026 {{ site.title }}
    </p>
  </div>
</footer>
