<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "{{ site.business.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}",
  "telephone": "{{ site.business.phone }}",
  "email": "{{ site.business.email }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.business.address.street }}",
    "addressLocality": "{{ site.business.address.locality }}",
    "addressRegion": "{{ site.business.address.region }}",
    "postalCode": "{{ site.business.address.postal }}",
    "addressCountry": "{{ site.business.address.country }}"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ site.business.geo.lat }}",
    "longitude": "{{ site.business.geo.lng }}"
  },
  "priceRange": "$$"
}
</script>
